---
import Layout from "@/layouts/Layout.astro";
import type { SanityDocument } from "@sanity/client";
import { PortableText } from "astro-portabletext";
import { sanityClient } from "sanity:client";

const POST_QUERY = `*[_type == "post" && slug.current == $slug][0]{
  _id,
  title,
  _updatedAt,
  slug,
  "imageUrl": image.asset->url,
  content,
}`;
const post = await sanityClient.fetch<SanityDocument>(POST_QUERY, Astro.params);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "post" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(SLUGS_QUERY, Astro.params);
}
---

<Layout title={post.title}>
  <section class="mx-auto w-11/12 max-w-7xl py-24">
    <a href="/resources" class="hover:underline">&larr; Back to posts</a>
    <img src={post.imageUrl} alt={post.title} class="size-64 rounded-3xl" />
    <h1 class="mb-8 text-4xl font-bold">{post.title}</h1>
    <div class="prose">
      <p>Published: {new Date(post._updatedAt).toLocaleDateString()}</p>
      {Array.isArray(post.content) && <PortableText value={post.content} />}
    </div>
  </section>
</Layout>
